<form>
  {% csrf_token %}

  <div class="map-list-switch {% if mode == 'map' %}map-active{% endif %}">
    <ul>
      <li class="list-switch">
        <a class="switch-item"
           {% if mode == "map" %}onclick="ru.istanbul.goto_view(this, 'list');" style="cursor: pointer;" {% endif %}>
          <span class="glyphicon glyphicon-menu-hamburger fa fa-bars"></span>
          <strong>&nbsp;Details</strong>
        </a>
      </li>
      <li class="map-switch">
        <a class="switch-item colorful" id="maplistosm" title="View in colored Open Street Map"
           {% if mode == "list" %}
             targeturl="{{mapviewurl}}"
             onclick="ru.istanbul.goto_view(this, 'map', 'osm');"
             style="cursor: pointer;"
           {% endif %}>
          <span class="glyphicon glyphicon-map-marker fa fa-map-marker"></span>&nbsp;
          <strong>OSM</strong>
        </a>
        <a class="switch-item" id="maplistcarto" title="View in grayish Carto map"
           {% if mode == "list" %}
             targeturl="{{mapviewurl}}"
             onclick="ru.istanbul.goto_view(this, 'map', 'carto');"
             style="cursor: pointer;"
           {% endif %}>
          <strong>Carto</strong>
          <span class="count">({{entrycount}})</span>
        </a>
      </li>
    </ul>
  </div>

</form>
