{% extends "utilities/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
  <title>{{title}}</title>
{% endblock %}

{% block content %}

<div class="container body-content">

  <div class="row">
    <div id="abouttext" class="col-md-12">
      {% if cms_has_abouttext %}{{cms_abouttext|safe}}
      {% else %}

        <h2>About Istanbul-SU</h2>

        <p class="text-justify">
          The Istanbul-SU web application provides access to a database with metadata on Istanbul's historical water supply systems
          and the installations that were part of them such as aqueducts, cisterns, fountains, and baths. For each installation,
          the database contains information such as its type, purpose, persons or institutions involved, source texts, images,
          and events related to the installation such as restorations, additions and damages. The map shows the location of the installation.
        </p>

        <p class="text-justify">
          The Istanbul-Su research project, aims to make knowledge about Istanbul's rich and multicultural water heritage available
          to both scholars and a wider audience of interested parties.
        </p>

        <p class="text-justify">
          The Istanbul-Su web application and database is one of the results of the ongoing project
          '<a href="https://www.ru.nl/en/research/research-projects/engaging-with-istanbuls-water-heritage">Engaging with Istanbul's Water Heritage</a>.'
          The project is led by Mariëtte Verhoeven, assistant professor and researcher at the Radboud Institute for
          Culture and History (RICH).  The project researches the potential of Istanbul's historical water heritage as a
          driver of sustainable solutions to contemporary and future challenges regarding water supply and use. It focuses
          primarily on increasing knowledge about the tangible and intangible remains of Istanbul's rich and multilayered water
          heritage and on activating this heritage in order to increase public awareness of both historical and contemporary water
          issues in an urban environment.
        </p>

        <p class="text-justify">
          Mariëtte Verhoeven works with several partners of which the Netherlands Institute in Turkey (NIT) is the most important.
        </p>

        <p class="text-justify">
          The Istanbul-SU web application and database  are designed by the Radboud Humanities Computer Lab and made possible
          by financial contributions from NWO's Embassy Science Fund and the Radboud Institute for Culture & History (RICH).
        </p>
      {% endif %}
    </div>
  </div>

  <!-- Row with logo's '-->
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="{% static 'installations/content/NIT_logo_EN.jpg' %}" alt="NIT logo" height="100" style="margin-top: 15px;" />
      <span>&nbsp;&nbsp;</span>
      <img src="{% static 'installations/content/NWO_logo.jpg' %}" alt="NWO logo" height="100" />
      <span>&nbsp;&nbsp;</span>
      <img src="{% static 'installations/content/RU_logo_A4_CKD_NL.jpg' %}" alt="RU-CKD logo" height="50" />
      <span>&nbsp;&nbsp;</span>
      <img src="{% static 'installations/content/ru-logo-a4-rich-eng.jpg' %}" alt="Radboud RICH logo" height="50" />
    </div>
  </div>

</div>
{% endblock %}
