{% extends "utilities/base.html" %}
{% load i18n %}

{% block head %}
  <title>{{title}}</title>
{% endblock %}

{% block content %}

<div class="container body-content">


  <h2>{{ title }}</h2>

  <address>
    Mariëtte Verhoeven / Istanbul-SU<br />
    {% trans "Radboud Institute for Culture and History" %} (RICH)<br />
    {% trans "Radboud University" %} <br />
    {% trans "PO Box" %} 9103<br />
    6500 HD Nijmegen<br />
    {% trans "Netherlands" %} <br />
    E-mail: <a href="mailto:mariette.verhoeven@ru.nl">mariette.verhoeven@ru.nl</a><br />
  </address>

</div>
{% endblock %}
