{% extends "utilities/base.html" %}
{% load static %}

{% block head %}
<title>{{title}}</title>
{% endblock %}


{% block content %}
<!-- The image and its description -->
<div class="istanbul-banner" img="{% static 'installations/content/istanbul_logo.jpg' %}">
  <!-- to the database button -->
  <div class="istanbul-start">
    <!-- url 'utilities:list_view' 'Installation' 'installations' -->
    <a href="{% url 'installation_list'%}"
       class="btn btn-success btn-xlarge">To the database</a>
  </div>
</div>

<!-- About the banner image -->
<div>
  <i>{{image.title}}</i>,
  <small>
    {{image.maker}}
    ({{image.year}})
  </small>
</div>

<!-- Introductory text -->
<div class="row">
  <div id="introtext" class="col-md-12">
    {% if cms_has_introtext %}{{cms_introtext|safe}}
    {% else %}
      <h1>Istanbul su</h1>
      <p>An introduction into this topic will soon appear...</p>
    {% endif %}
  </div>
</div>




{% endblock %}
