{% load i18n %}

<div class="row">
  <!-- Left pane -->
  <div class="col-md-3">
    <!-- To be shown always: my own picture -->
    <div id="default_table" class="stalla-default">
      {% if show_headers %}
        <h3>{% trans "Object picture" %}</h3>
      {% else %}
        <div>&nbsp;</div>
      {% endif %}
      <div title="{{default.title}}" info="{{default.info}}" 
           {% if default.itype == "geojson" %}{% else %} data-toggle="modal" data-target="#werkstuk_modal"{% endif %}
           onclick="ru.istanbul.show_picture(this);">
        {{default.img|safe}}
      </div>
    </div>
  </div>

  <!-- Right pane -->
  <div class="col-md-9">
    <!-- List of buttons to show details -->
    <div class="detail-button">

      <!-- Buttons for related objects -->
      {% for related in related_objects %}
        {% if related.rel_list|length == 0 %}
          <button title="(No {{related.label}} for this entity)" class="btn btn-normal jumbo-1">(No {{related.label}})</button>
        {% else %}
          <button data-toggle="collapse" data-target="#basic_{{related.prefix}}_set" class="btn btn-normal jumbo-3">
            {{related.label}}
            <span style="color: yellow;">&nbsp;({{related.rel_list|length}})</span>
          </button>
        {% endif %}

      {% endfor %}

    </div>


  </div>
</div>

<!-- Modal showing of picture with information -->
<div id="werkstuk_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">

      <!-- Header with close X -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <!-- This is where the image comes-->
        <div class="modal-image"></div>

        <!-- This is where the information comes -->
        <div class="modal-info"></div>
      </div>

      <!-- Footer -->
      <div class="modal-footer"></div>

    </div>
  </div>
</div>