body
{
}

.hiddenaway {
    position: absolute; left: -9999px; top: 0px;
}

.blinded {
    opacity: 0.0;
    min-width: 25px;
}

.hidehover:hover .blinded {
    opacity: 1.0;
}

th div a.clickable.sorted {
  color: darkblue;
}

th div a.clickable.ordered:hover {
  color: darkblue;
  background-color: lightgoldenrodyellow;
}

.sortshow:hover {
    opacity: 1.0;
    color: red;
}

table thead th.sortable .sortoptions {
    color: dimgray;
    font-size: small;
}

table thead th.sortable .sortoptions .sortmulti.fa-sort {
    opacity: 0.0;
}
table thead th.sortable .sortoptions .sortmulti:hover {
    opacity: 1.0;
    color: orangered;
}

table thead th.sortable .sortoptions a.sortremove {
    /* background-position: 0 0; */
    color: darkgray;
    opacity: 0.0;
}

table thead th.sortable .sortoptions a.sortremove:after {
    content: '\\';
    position: fixed;/* */
    margin-left: -10px;
    margin-top: -2px;
    font-weight: 200;
    font-size: 18px;
    color: darkgray;
    opacity: 0.0;
    /* top: -6px;
    left: 3px;
    font-weight: 200;
    font-size: 18px;
    color: #999;*/
}

table thead th.sortable .sortoptions a.sortremove:focus:after,
table thead th.sortable .sortoptions a.sortremove:hover:after {
    color: #447e9b;
    opacity: 1.0;
}

table thead th.sortable .sortoptions a.sortremove:focus,
table thead th.sortable .sortoptions a.sortremove:hover {
    /* background-position: 0 -14px; */
    opacity: 1.0;
}


.ruler_white {
    background-color: white;
}

.ruler_black {
    /* background-color: black; */
    border: 1px solid black !important;
}

.ruler_show {
    height: 12px;
    border: 1px dashed black !important;
}

td.ruler {
    padding: 0px !important;
}

.related-remove {
    cursor: pointer;
}

.search_url {
    color: darkblue;
    font-size: small;
    font-family: monospace;
}

.bi-filetype-xls {
    position: relative;
    top: 3px;
}

/* MAP addition */
/* Mapview */
.map-list-switch {
    height: 30px;
    border-radius: 22px;
    padding: 2px;
    background-color: #ddd;
    top: 18px;
    z-index: 10;
    position: sticky;
    color: #000;
    box-sizing: border-box;
    font-size: 18px;
}

.map-list-switch.map-active {
    background-color: #000;
    color: #fff;
}

.map-list-switch ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: 1px;
}

.map-list-switch li {
    height: 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.map-list-switch li.list-switch {
    background-color: #fff;
}

.map-list-switch.map-active li.map-switch {
    background-color: #fff;
}

.map-list-switch.map-active li.list-switch {
    background-color: transparent;
}

.map-list-switch.map-active li.list-switch .switch-item {
    color: #fff;
}

.map-list-switch .switch-item {
    display: flex;
    text-decoration: none;
    color: #000;
    line-height: 13px;
}

.map-list-switch .switch-item strong {
    font-weight: 700;
    margin-right: 4px;
    margin-top: 4px;
}
.map-list-switch .switch-item span.count {
    margin-top: 3px;
}

.werkstuk-map {
    z-index: 5;
    top: 55px; /* -45px; */
    position: absolute;
}

.family-head {
    position: absolute;
}

.inner-map {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0px;
    margin-top: 10px;
    top: 50px;
}

.leaflet-top {
    margin-top: 50px;
    margin-right: 15px;
}

.leaflet-marker-icon .fa-map-marker-alt {
    font-size: x-large;
    color: #345beb;
}

span.warning {
    background-color: lightgray;
    color: darkred;
    font-size: larger;
}

.tdnowrap {
    white-space: nowrap !important;
}

tr.view-row td:first-of-type {
    font-weight: bold;
    font-size: large;
}

/* Compatibility with lower Bootstrap versions */
.hidden {
    display: none !important;
}

/* Func-view related */

table.func-view {
    border: 1px solid white;
    /* border: none; */
    background-color: lightgray;
    margin-top: 0px;
    vertical-align: top;
    padding: 2px;
}

    table.func-view.sermons {
        padding: 0px 2px 0px 2px;
    }

    table.func-view th {
        border: 1px solid white;
        font-size: 12px;
        background-color: darkgreen;
        color: white;
        border-radius: 3px 3px;
        margin-top: 0px;
        margin-left: 20px;
        vertical-align: top;
        padding: 2px;
        background-clip: padding-box;
    }

        table.func-view th.selected {
            background-color: darkorange;
        }

        table.func-view th.whitecell {
            border: none;
            background-color: white;
            color: black;
        }

        table.func-view th:hover {
            background-color: green;
        }

        table.func-view th.selected:hover {
            background-color: orangered;
        }

        table.func-view th .func-title {
            color: lightgray;
        }

        table.func-view th > span > .func-name {
            font-family: monospace;
        }

    table.func-view td .func-name {
        color: black;
        font-family: monospace;
        border-radius: 3px 3px;
    }

        table.func-view td .func-name:hover {
            background-color: darkgreen;
            color: white;
            font-family: monospace;
            border-radius: 3px 3px;
        }

    table.func-view td .arg-line {
        color: black;
        font-family: monospace;
        border-radius: 3px 3px;
    }

    table.func-view th .func-title:hover {
        background-color: darkolivegreen;
    }

table.func-oview tbody tr:hover {
    background-color: palegreen !important;
}

table tr.func-inline {
    background-color: lavender;
}

table.func-view td {
    border: 1px solid white;
    font-size: 12px;
    margin-top: 0px;
    vertical-align: top;
    padding: 2px;
    overflow: hidden;
    /*
  overflow-wrap: normal;
  text-overflow: clip;*/
}

table.func-view.sermons td {
    padding: 0px 2px 0px 2px;
}

table.func-view td.vmiddle {
    vertical-align: middle;
}

table.func-view td.whitecell {
    border: none;
    background-color: white;
    color: black;
}
