
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

.istanbul-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 700px;
}

.istanbul-start {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    max-width: var(--width-container);
}

.istanbul-start a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 550px;
    margin-left: 50px;
    align-content: center;
}

.btn-xlarge {
    font-size: 2.2rem;
    margin: 40px 0px;
    height: 72px;
    border-radius: 36px;
    padding: 0px 4rem;
}

a.nostyle:link, a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

td a.nostyle {
    display: block;
}

/* Showing signature badges correctly */
.signature {
    /* font-family: monospace; */
    font-size: smaller;
    color: darkblue;
}

span.badge.signature.gr {
    background-color: lightblue;
}

span.badge.signature.cl {
    background-color: lightgreen;
}

span.badge.signature.ot, span.badge.signature.eqset {
    background-color: lightgoldenrodyellow;
}

span.badge.signature {
    background-color: lightgray;
    color: darkblue;
    font-size: 85%;
    padding: 2px 5px;
    font-weight: normal;
    border-radius: 5px;
    margin: 1px;
}

span.badge.signature:hover {
    color: whitesmoke;
    background-color: darkblue;
    cursor: pointer;
}

.stalla-more img {
    max-height: 200px;
    max-width: 200px;
}

.stalla-para img {
    max-height: 140px;
    max-width: 140px;
}

.stalla-more div, .stalla-para div {
    display: inline-block;
}

.stalla-image {
    max-width: 100%;
}

/* Colors of jumbo parts */
.jumbo-1 {
    background-color: lavender;
    color: chocolate;
    fill: lavender;
}

    .jumbo-1 text {
        fill: goldenrod;
    }

.jumbo-2 {
    background-color: chocolate;
    color: lavender !important;
    fill: chocolate;
}

.jumbo-3 {
    background-color: #355e3b;
    color: lavender !important;
    fill: #355e3b;
}

.jumbo-4 {
    background-color: #e3000b; /* #ff2400; */
    color: lavender !important;
    fill: #ff2400;
}

.jumbo-5 {
    background-color: blue;
    color: white !important;
    fill: white;
}

    .jumbo-2 text, .jumbo-3 text, .jumbo-4 text, .jumbo-5 text {
        fill: lavender;
    }

.jumbo-1:hover {
    color: black;
    background-color: goldenrod;
    fill: goldenrod;
    cursor: pointer;
}

    .jumbo-1:hover text {
        fill: black;
    }

.jumbo-2:hover, .jumbo-3:hover {
    color: white;
    background-color: goldenrod;
    fill: goldenrod;
    cursor: pointer;
    /* stroke: white; */
}

.jumbo-4:hover {
    color: white;
    background-color: darkred; /*  goldenrod; */
    fill: goldenrod;
    cursor: pointer;
    /* stroke: white; */
}

.jumbo-5:hover {
    color: white;
    background-color: darkblue;
    fill: lightblue;
    cursor: pointer;
}

/* What to do when the button is disabled */
.jumbo-1:disabled, .jumbo-2:disabled, .jumbo-3:disabled, .jumbo-4:disabled, .jumbo-5:disabled {
    color: lightgray;
    background-color: darkgray;
    fill: darkgray;
    cursor: wait;
}

/* installation details */
.detail-button {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Size of image in modal view */
.modal-dialog {
    max-width: 800px;
}

/* Footer display */
body > div > footer {
  height: 18px;
  padding-top: 2px;
  background: black;
  color: white;
  font-size: x-small;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
body > div > footer a {
  color: lightblue;
  position: relative;
  z-index: 1000;
}

/* Make sure there is enough space above the footer */
.container-fluid > .row > .col-10 { /* > form { */
    margin-bottom: 30px;
}

.main-container {
    margin-top: 50px;
}

.details-buttons {
    height: 25px;
    padding-top: 2px;
    margin-top: 12px;
}

/* Extra small pagination */
.pagination {
    margin: 3px 0;
}

.pagination-xsm > li > a,
.pagination-xsm > li > span {
    padding: 2px 4px; /* Note: this is vertical, horizontal... */
    font-size: 12px;
}

.pagination-xsm > li > a:hover {
    cursor: pointer;
}

.pagination-xsm > li:first-child > a,
.pagination-xsm > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.pagination-xsm > li:last-child > a,
.pagination-xsm > li:last-child > span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.clickable {
    cursor: pointer;
}

/* Compatibility with lower Bootstrap versions */
.hidden {
    display: none !important;
}